<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="/images/news.jpg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">NEWS<i class="material-icons right">Click for
        Info</i></span>
    <h6> {{{titles}}} </h6>
    <br>

    {{log titles}}
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">NEWS<i class="material-icons right">close</i></span>
    {{!-- <p> {{articles}} </p>
    <br> --}}
    {{{articles}}}

  </div>
</div>

{{{log titles}}}
{{{log articles}}}
